/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #004994;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}



/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.header
{
    margin-top: 15px;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 285px;
    position: relative;
}
.header-image
{
    width: 100%;
}
.panel-login-header
{
    float: right;
    position: absolute;
    right: 20px;
    bottom: 0;
    max-width: 310px;
    border-radius: 6px;
}
.panel-body
{
    padding: 10px;
}
.login-input
{
    margin-bottom: 2px;
}
.login-left-side
{
    float: left;
    width: 190px;
}
.login-right-side
{
    float:right;
    padding-left: 10px;
}
.login-bottom-side
{
    clear: both;
    margin: 0 auto;
    text-align: center;
}
.btn-login {
  width: 85px;
}

.error-msg
{
    display: none;
    font-size: x-small;
    color: red;
}

.glyphicon-refresh-animate {
   -webkit-animation: spin 2s infinite linear;
   -moz-animation: spin 2s infinite linear;
   -o-animation: spin 2s inifinite linear;
   -ms-animation: spin 2s infinite linear;
   animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes spin {
    to { -ms-transform: rotate(360deg); }
}
@-o-keyframes spin {
    to { -o-transform: rotate(360deg); }
}
@keyframes spin {
    to { transform: rotate(360deg); }
}

.loading {
  font-size: 3em;
}

.center-txt {
  text-align: center;
}

/* Navigation Background Color*/
.navBackgroundColor
{
	/*background-color: #4D82BE; */
	background-color: #004994;  /* uni color*/

}

.navbar {
  border: 0;
  border-top: 1px solid transparent;
}

/* Active dropdown menu background color*/
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  /*color: #555; */
  color: black;
  /*background-color: #4D82BE; */
  background-color: white;  /* uni color*/
}
/*Active dropdown menu font color */
.dropdown-menu > li > a
{
  color: white;
}
/* fontColor Brand Element */
.navbar-default .navbar-brand {
  /*color: #555; */
  color: white;
}
/* fontColor Nav Elements */
.navbar-default .navbar-nav > li > a {
  /*color: #555; */
  color: white;
}
/* Hover Color Brand Element */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  /*color: #5e5e5e; */
  color: black;
  background-color: white;
}
/* HoverColor Nav Elements */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  /*color: #5e5e5e; */
  color: black;
  background-color: white;
}
/* ActiveColor Language Element */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  /*color: #555; */
  color: black;
  background-color: white;
}



#myCarousel
{
	data-pause: hover;
	data-interval: false;
	data-keyboard: true;
}

.col-extended-search {
    padding-top: 10px;
    padding-bottom: 15px;
}

.result-image {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.result-image-userpanel {
	width: 50%;
	margin-left: 0%;
	margin-right: 10%;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-right: 0px;
	padding-top: 10px;
}


.search-header {
  margin-bottom: 30px;
}

.search {
  margin: 0 0 15px 0;
}

.search-extended {
  display: none;
}

.search-navigation {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}

#membershipData
{
	display: none;
}

/* feedback check (hook) position */
.has-feedback .form-control-feedback {
    top: 25px;
    right: 3
}
.form-horizontal .has-feedback .form-control-feedback {
    top: 0;
    right: 20px;
}

.form-horizontal .form-group {
  margin-right: 10px;
  margin-left: -15px;
}

.wrapper
{
      margin: 0px 3px 15px 15px;
}

.hidden {
  display: none;
}


/*feeback divs, invisible on default*/
#feedbackPositive
{
  display: none;
}
#feedbackNegative
{
  display: none;
}
#feedbackPositiveRecovery
{
  display: none;
}
#feedbackNegativeRecovery
{
  display: none;
}
#feedbackPositiveEmailRecovery
{
  display: none;
}
#feedbackNegativeEmailRecovery
{
  display: none;
}
#feedbackPositivePasswordCh
{
  display: none;
}
#feedbackNegativePasswordCh
{
  display: none;
}

/* Registration hint corner style*/
#usernameHint
{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#passwordHint
{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#emailHint
{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#newPasswordHint
{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}


.label-letter {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 100%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.letter-active {
  color: white;
}

/* ==========================================================================
   Twitter Typeahead Plugin
   ========================================================================== */

.twitter-typeahead{
    width:100%;
    display: inline-flex!important;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  width:100%;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
