<div class="row">
	<!-- main content area (left side)-->
	<div class="col-sm-8 blog-main">

		<!-- single content area -->
		<div class="blog-post">
			<h2 class="blog-post-title">Willkommen auf dem Alumni Portal</h2>
			<p class="blog-post-meta">März 13, 2015 von <a href="#" class="not-implemented">Michaela Thiel</a></p>
			<p>Liebe Alumni, das Alumniportal ist unsere Internetplattform für Alumni und Studierende, Mitarbeiter und Professoren der Universität Würzburg. Anders als in öffentlichen Netzwerken richtet sich das Alumni-Portal ausschließlich an Alumni, Freunde und Studierende, Mitarbeiter und Wissenschaftler der Julius Maximilians Universität. <br><br>
				Sie sind noch nicht am Alumni-Netzwerk registriert? Dann nutzen Sie bitte folgenden Link oder den Menüpunkt <a href="#/register">Registrieren</a>. <br><br>
				Im Alumni-Portal sehen Sie sehen alle Detailansichten und Informationen, wie z. B. zur <a href="#" class="not-implemented">Weltkarte</a> und <a href="#" class="not-implemented">Stellenbörse</a> oder <a href="#" class="not-implemented">Neueste Alumni</a> ausschließich im eingeloggten Bereich.<br><br>
				Wir freuen uns über Ihre Registrierung und senden Ihnen gerne Ihre entsprechenden Login-Daten zu. <br>
				Mit einem schönen Gruß <br><br> Ihre Michaela Thiel</p>
			<hr>
		</div> <!-- /.blog post -->

		<!-- example content area -->
		<div class="blog-post">
			<h3 class="blog-post-title">Zitat des Tages</h3>
			<blockquote>
			  <p>Die meisten Studenten lernen nicht, um Einsicht zu erlangen, <strong> sondern um schwätzen zu können.</strong> <br>  - Arthur Schopenhauer </p>
			</blockquote>
			<hr>
		</div><!-- /.blog-post -->

		<!-- example content area -->
		<div class="blog-post">
			<h2 class="blog-post-title">Empfehlen sie uns weiter</h2>
			<p>Wenn Sie andere aktuelle oder ehemalige Studierende, Mitarbeiter oder Dozenten der Universität Würzburg kennen, denen unser Alumni-Netzwerk noch nicht bekannt ist, freuen wir uns, wenn Sie diese auf das Alumni-Netzwerk aufmerksam machen.
			<hr>
		</div><!-- /.blog-post -->

		 <!-- example content area -->
		<div class="blog-post">
			<h2 class="blog-post-title">Arbeitsangebote "Von Alumni - für Alumni"</h2>
			<p>Im Alumni-Portal stellen wir Ihnen <a href="http://www.alumni.uni-wuerzburg.de/index.php?id=125766" target="_blank">Arbeitsangebote unserer Alumni</a> in den unterschiedlichsten Bereichen und Unternehmen vor.
			<p>Über Ihre Anzeigen offener Stellenangebote für Alumni in Ihrem eigenen Unternehmen freuen wir uns sehr!
			<hr>
		</div><!-- /.blog-post -->

		<!-- new-user carousel -->
		<h2 class="blog-post-title">Neuste Alumni</h2>
		<div id="user-carousel-wrapper" class="carousel slide" data-ride="carousel">
			<!-- Positionsanzeiger -->
			<ol class="carousel-indicators">
				<li data-target="#user-carousel-wrapper" data-slide-to="0" class="active"></li>
				<li data-target="#user-carousel-wrapper" data-slide-to="1"></li>
				<li data-target="#user-carousel-wrapper" data-slide-to="2"></li>
				<li data-target="#user-carousel-wrapper" data-slide-to="3"></li>
				<li data-target="#user-carousel-wrapper" data-slide-to="4"></li>
			</ol>

			<!-- wrapper for elements -->
			<div id="user-carousel" class="carousel-inner" role="listbox">
			</div>
			<!-- carousel buttons -->
			<a class="left carousel-control" href="#user-carousel-wrapper" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Zurück</span>
			</a>
			<a class="right carousel-control" href="#user-carousel-wrapper" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Weiter</span>
			</a>
		</div>
		<br />
	</div><!-- /.blog-main -->

	<!-- Additional Content Area (right side)-->
	<div class="col-sm-4 blog-sidebar">
	  <div class="sidebar-module sidebar-module-inset">
		<br>
		<h4>Aktuelles</h4>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
	  </div>

	  <div class="sidebar-module">
		<h4>Veranstaltungen in Kürze</h4>
		<ol class="list-unstyled">
		  <li><a href="#" class="not-implemented">Alumni Jahrestreffen 2015</a></li>
		  <li><a href="#" class="not-implemented">Wirtschaft und Wein</a></li>
		  <li><a href="#" class="not-implemented">Weiteres Event</a></li>
		  <li><a href="#" class="not-implemented">Weiteres Event</a></li>
		</ol>
	  </div>
	  <div class="sidebar-module">
		<h4>Hier finden Sie Alumni</h4>
		<ol class="list-unstyled">
		  <li><a href="#" class="not-implemented">Twitter</a></li>
		  <li><a href="#" class="not-implemented">Facebook</a></li>
		</ol>
	  </div>
	</div><!-- /.blog-sidebar -->
</div><!-- /.row -->