<div class="row">
	<div class="col-sm-12 blog-main">
		<h2>Impressum</h2>
		<hr />
		<a href="http://www.uni-wuerzburg.de/" target="_blank">Universität Würzburg</a>
		<p>Sanderring 2<br>97072&nbsp;Würzburg <br></p>
		<p>Telefon: +49&nbsp;931 31-0&nbsp;<br>Internet: <a href="http://www.uni-wuerzburg.de" target="_blank">www.uni-wuerzburg.de</a></p>
		<P><STRONG>Kontakt Alumnibüro</STRONG></P>
		<P>Alumni Universität Würzburg<BR>Sanderring 2<BR>97070 Würzburg<BR><BR>Telefon: +49 931-31-83150<BR>Mail: <A href="mailto:alumni@uni-wuerzburg.de">alumni@uni-wuerzburg.de</A></P>
		<P>Web: <a href="http://www.alumni.uni-wuerzburg.de" target="_blank">www.alumni.uni-wuerzburg.de</A>.</P>
		<P>Zur besseren Lesbarkeit verwenden wir bei Berufs- und Personenbezeichnungen nur eine geschlechtsspezifische Form.</P>

		<h2>Das Dev-Team </h2>
		<hr />
		<div class="media">
			 <div class="media-left">
				<a href="#">
					<img class="media-object" src="img/devTeam.jpg" alt="...">
				</a>
			</div>
		</div>
	</div> <!-- ./main -->
</div>

