<div class="login-left-side">
    <div class="form-group login-input">
        <input type="text" class="form-control input-sm" id="login-user" placeholder="E-Mail / Benutzer">
    </div>
    <div class="form-group login-input">
    <input type="password" class="form-control input-sm" id="login-password" placeholder="Passwort">
    </div>
    <div class="form-group login-input">
        <span id="login-error-msg" class="error-msg">Nutzername und Passwort stimmen nicht überein</span>
    </div>
</div>
<div class="login-right-side">
    <button type="submit" class="btn btn-sm btn-primary btn-login" id="btn-submit-login">
    <span class="glyphicon glyphicon-refresh hidden"></span>
        &nbsp;Login
    </button>
</div>
<div class="login-bottom-side">
    <small>
        <a href="#/forgotpw" id="href-password">Passwort vergessen?</a> &nbsp;|&nbsp;
        <a href="#/register" id="href-register">Registrieren</a>
    </small>
</div>