<div class="row">
	<!-- main content area (left side)-->
	<div class="col-sm-12 blog-main">

		<!-- single content area -->
		<div class="blog-post">
			<h2 class="blog-post-title">Publikationen</h2>
			<p class="blog-post-meta">März 18, 2015 von <a href="#" class="not-implemented">Dev-Team</a></p>
			<p>Lieber Besucher,<br> das Alumni-Portal befindet sich gerade im Prototypen Status. Daher sehen Sie hier nur ein Dummy!</p>
				Mit einem schönen Gruß <br><br> Ihr Dev-Team</p>
			<hr>
		</div> <!-- /.blog post -->

		<div class="blog-post">
			<h2 class="blog-post-title">Content</h2>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
			<hr>
		</div><!-- /.blog-post -->
	</div><!-- /.blog-main -->
</div><!-- /.row -->