<div class="row">
	<!-- registration form-->
	<div class="col-sm-8 blog-main"> 
	<div class="alert alert-success" id="feedbackPositive" role="alert"> </div>	
	<div class="alert alert-danger" id="feedbackNegative" role="alert"> </div>
		<div class="blog-post"> 
			<h2 class="blog-post-title">Registrieren auf dem Alumni Portal</h2>
			<hr>				
			<p>Werden Sie kostenlos Teil der weltweiten Community und erhalten persönliche Einladungen, unseren Newsletter, Informationen und Portalzutritt.</p><br>
		</div> <!-- /.blog post -->
	
		<h4 class="blog-post-title">Persönliche Daten</h4>
		<form id="registrationForm" class="form-horizontal">
			<div class="form-group">
				<div class="col-xs-5">
					<select type="text" id="title" class="form-control" name="title" placeholder="Anrede" >
						<option selected>Anrede</option>
						<option>Frau</option>
						<option>Herr</option>
					</select>
				</div>
			</div>

			<div class="wrapper">
				<div class="row">
					<div class="col-sm-5 form-group">
						<input type="text" class="form-control" name="firstName" placeholder="Vorname">
					</div>
					<div class="col-sm-5 form-group">
						<input type="text" class="form-control" name ="lastName" placeholder="Nachname">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5 form-group">
						<input type="text" class="form-control" name="street" placeholder="Straße und Hausnummer">
					</div>
					<div class="col-sm-5 form-group">
						<input type="text" class="form-control" name ="streetAdditional" placeholder="Adresszusatz">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 form-group">
						<input type="text" id="organizationInput" class="form-control" name="zipCode" placeholder="PLZ">
					</div>
					<div class="col-sm-8 form-group">
						<input type="text" id="organizationInput" class="form-control" name ="city" placeholder="Wohnort">
					</div>
				</div>
			</div>
			<h4 class="blog-post-title">Alumni Logindaten</h4>
			<div class="form-group">
				<div class="col-sm-10">
					<input type="text" id="username" class="form-control" name="username" placeholder="Benutzername" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					<input type="text" id="email" class="form-control" name="email" placeholder="E-Mail-Adresse" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					<input type="password" id="password" class="form-control" name="password" placeholder="Passwort" />
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-10">
					<input type="password" id="passwordRpt" class="form-control" name="passwordRepeat" placeholder="Passwort wdhl." />
				</div>
			</div>
			
			<hr>			
			<h4 class="blog-post-title">Alumni-Verein Mitgliedschaft (optional)</h4>
			<p>Sind Sie interessiert an einer optionalen, kostenpflichtigen Mitgliedschaft im Alumni-Verein?</p>
			<div class="radio">
				<label class="radio">
					<input type="radio" name="membership" id="noMemberRadio" value="0" checked> Nein, im Moment nicht!
				</label>
				<label class="radio">
					<input type="radio" name="membership" id="memberRadio" value="1"> Ja, Interesse!
				</label>
			</div>
			<hr>
			
			<div id="membershipData">
				<h4 class="blog-post-title">Bankverbindung</h4>
				<div class="form-group">
					<div class="col-xs-10">
						<input type="text" class="form-control" name="depositor" placeholder="Kontoinhaber" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-10">
						<input type="text" class="form-control" name="iban" placeholder="IBAN" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-10">
						<input type="text" class="form-control" name="bic" placeholder="BIC" />
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-8 ">
					<button type="submit" id="btnSubmitReg" class="btn btn-primary" name="signup" value="Sign up">Jetzt registrieren</button>
					<button type="abort" id="btnAbortReg" class="btn btn-primary" name="abort" value="Abort">Zurücksetzen</button>
				</div>
			</div>
		</form>
	</div> <!-- blog main -->
	
	<!-- Registration Description (right side)-->
	<div class="col-sm-4 blog-sidebar">
		<div class="sidebar-module sidebar-module-inset">
			<h3>Hinweise zur Registrierung</h3>
		</div>
		<div class="sidebar-module sidebar-module-inset">
			<h4>Was ist der Alumni-Verein?</h4>
		<p>Wenn Sie andere aktuelle oder ehemalige Studierende, Mitarbeiter oder Dozenten der Universität Würzburg kennen, denen unser Alumni-Netzwerk noch nicht bekannt ist freuen wir uns, wenn Sie diese auf das Alumni-Netzwerk aufmerksam machen.</p>
		</div>
		<div class="sidebar-module" id="usernameHint">
            <h4>Der Benutzername darf...</h4>
            <ul class="list">
				<li><p>Groß- und Kleinbuchstaben enthalten.</p></li>
				<li><p>Zahlen enthalten..</p></li>
				<li><p>nicht kürzer als 7 Zeichen lang sein.</p></li>
				<li><p>die Sonderzeichen "." und "_" enthalten</p></li>
            </ul>
        </div>
        <div class="sidebar-module" id="emailHint">
            <h4>Die E-Mail...</h4>
            <p>sollte keine Studmail-Adresse der Uni Würzburg sein </p>
        </div>
        <div class="sidebar-module" id="passwordHint">
            <h4>Das Passwort muss...</h4>
            <ul class="list">
				<li><p>mind. einen Großbuchstaben enthalten.</p></li>
				<li><p>mind. einen Kleinbuchstaben enthalten.</p></li>
				<li><p>mind. eine Zahl enthalten.</p></li>
				<li><p>zwischen 6 und 30 Zeichen lang sein.</p></li>
            </ul>
        </div>
		<div class="sidebar-module">
            <h4>Was bringt die Alumni-Verein Mitgliedschaft?</h4>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
			<p>Die Jahresmitgliedschaft für Studenten beträgt 12 Euro, für nicht Studenten beträgt sie 25 Euro.</p>
			<p>Die besonderen Angebote für Vereinsmitglieder finden sie <a href="http://www.alumni.uni-wuerzburg.de/alumnicard/.">hier.</a></p>
        </div>			


	</div><!-- /.blog-sidebar -->
	
</div> <!-- row -->
