<div id="search-panel">
	<h2>Alumni suchen</h2>
	<hr />
	<div class="row search-navigation">
		<ul class="nav nav-tabs" id="search-nav" role="tablist">
			<li role="presentation" class="active"><a href="#" id="contact">nach Kontaktdaten</a></li>
			<li role="presentation"><a href="#" id="course">nach Studien- und Jahrgang</a></li>
		</ul>
	</div>
	<form>
	<div class="row search" id="search-contact-panel">
		<div class="row search-header">
			<div class="col-lg-8">
				<div class="input-group">
					<input type="text" class="form-control input-lg" placeholder="Suche nach Vor- und Nachname ..." id="input-search">
					<span class="input-group-btn">
						<button class="btn btn-default btn-lg" type="button" id="btn-submit-search">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</span>
				</div>
			</div>
			<div class="col-lg-4" style="line-height: 3">
				<a href="" id="btn-extended-search"><span class="caret"></span> weitere Suchoptionen</a>
			</div>
		</div>
		<div class="search-extended">
			<div class="row">
				<div class="col-sm-4 form-group">
					<label for="nameInput">Name</label>
					<input type="text" id="nameInput" class="form-control" placeholder="z.B. 'Max Mustermann'">
				</div>
				<div class="col-sm-4 form-group">
					<label for="organizationInput">Unternehmen</label>
					<input type="text" id="organizationInput" class="form-control" placeholder="z.B. 'Mustermann GmbH'">
				</div>
				<div class="col-sm-2 form-group">
					<label for="locationInput">Ort</label>
					<input type="text" id="locationInput" class="form-control" placeholder="z.B. 'München'">
				</div>
				<div class="col-sm-2 form-group">
					<label for="zipInput">PLZ</label>
					<input type="text" id="zipInput" class="form-control" placeholder="z.B. '20459'">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 form-group">
					<label for="interestsInput">Interessen</label>
					<input type="text" id="interestsInput" class="form-control" placeholder="z.B. 'Fußball'">
				</div>
				<div class="col-sm-4 form-group">
					<label for="departmentInput">Branche</label>
					<input type="text" id="departmentInput" class="form-control" placeholder="z.B. 'Telekommunikation'">
				</div>
				<div class="col-sm-4 form-group">
					<label for="stateInput">Bundesland</label>
					<input type="text" id="stateInput" class="form-control" placeholder="Bundesland">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 form-group">
					<label for="collegeInput">Hochschule</label>
					<input type="text" id="collegeInput" class="form-control" placeholder="z.B. 'Universität Würzburg'">
				</div>
				<div class="col-sm-4 form-group">
					<label for="facultyInput">Fakultät</label>
					<input type="text" id="facultyInput" class="form-control" placeholder="z.B. 'Informatik'">
				</div>
				<div class="col-sm-2 form-group">
					<label for="studyStartInput">Studienbeginn</label>
					<input type="text" id="studyStartInput" class="form-control" placeholder="z.B. '2000'">
				</div>
				<div class="col-sm-2 form-group">
					<label for="studyEndInput">Studienende</label>
					<input type="text" id="studyEndInput" class="form-control" placeholder="z.B. '2003'">
				</div>
			</div>
		</div>
	</div>
	</form>

	<div class="row search" id="search-result" style="display: none">
		<h3>Ergebnisse &nbsp;&nbsp;&nbsp;<small>Es wurden <span id="search-result-length">{x}</span> Alumni gefunden</small></h3>
		<hr />
		<div class="search-result-wrapper"></div>
	</div>

	<div class="row search" id="search-course-panel" style="display: none">
		<div class="panel panel-primary panel-body" id="course-letter-nav">
			<span id="course_all" class="label-letter label-primary"><a href="#" class="letter-active">Alle</a></span>&nbsp;
			<span id="course_a"><a href="#">A</a></span>&nbsp;
			<span id="course_b"><a href="#">B</a></span>&nbsp;
			<span id="course_c"><a href="#">C</a></span>&nbsp;
			<span id="course_d"><a href="#">D</a></span>&nbsp;
			<span id="course_e"><a href="#">E</a></span>&nbsp;
			<span id="course_f"><a href="#">F</a></span>&nbsp;
			<span id="course_g"><a href="#">G</a></span>&nbsp;
			<span id="course_h"><a href="#">H</a></span>&nbsp;
			<span id="course_i"><a href="#">I</a></span>&nbsp;
			<span id="course_j"><a href="#">J</a></span>&nbsp;
			<span id="course_k"><a href="#">K</a></span>&nbsp;
			<span id="course_l"><a href="#">L</a></span>&nbsp;
			<span id="course_m"><a href="#">M</a></span>&nbsp;
			<span id="course_n"><a href="#">N</a></span>&nbsp;
			<span id="course_o"><a href="#">O</a></span>&nbsp;
			<span id="course_p"><a href="#">P</a></span>&nbsp;
			<span id="course_q"><a href="#">Q</a></span>&nbsp;
			<span id="course_r"><a href="#">R</a></span>&nbsp;
			<span id="course_s"><a href="#">S</a></span>&nbsp;
			<span id="course_t"><a href="#">T</a></span>&nbsp;
			<span id="course_u"><a href="#">U</a></span>&nbsp;
			<span id="course_v"><a href="#">V</a></span>&nbsp;
			<span id="course_w"><a href="#">W</a></span>&nbsp;
			<span id="course_x"><a href="#">X</a></span>&nbsp;
			<span id="course_y"><a href="#">Y</a></span>&nbsp;
			<span id="course_z"><a href="#">Z</a></span>
		</div>

		<div id="course-list">
			<ul class="list-group"></ul>
		</div>
	</div>
</div>