<div id="search-panel">
	<h2>Alumni suchen</h2>
	<hr />
	<div class="row search-navigation">
		<ul class="nav nav-tabs" id="search-nav" role="tablist">
			<li role="presentation" class="active"><a href="#" id="contact">nach Kontaktdaten</a></li>
			<li role="presentation"><a href="#" id="course">nach Studien- und Jahrgang</a></li>
		</ul>
	</div>
	<form>
	<div class="row search" id="search-contact-panel">
		<div id="search-error-panel" class="alert alert-danger" role="alert" style="display: none">
			Bitte geben Sie mindestens einen Suchbegriff ein.
		</div>
		<div class="row search-header">
			<div class="col-lg-8">
				<div class="input-group">
					<input type="text" class="form-control input-lg" placeholder="Suche nach Vor- und Nachname ..." id="input-search">
					<span class="input-group-btn">
						<button class="btn btn-default btn-lg" type="button" id="btn-submit-search">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</span>
				</div>
			</div>
			<div class="col-lg-4" style="line-height: 3">
				<a href="" id="btn-extended-search"><span class="caret"></span> weitere Suchoptionen</a>
			</div>
		</div>
		<div class="search-extended">
			<div class="row">
				<div class="col-sm-4 form-group">
					<label for="universityInput">Hochschule</label>
					<input type="text" id="collegeInput" class="form-control" placeholder="z.B. 'Universität Würzburg'">
				</div>
				<div class="col-sm-4 form-group">
					<label for="facultyInput">Fakultät</label>
					<input type="text" id="facultyInput" class="form-control" placeholder="z.B. 'Informatik'">
				</div>
				<div class="col-sm-2 form-group">
					<label for="studyStartInput">Studienbeginn</label>
					<input type="text" id="studyStartInput" class="form-control" placeholder="z.B. '2000'">
				</div>
				<div class="col-sm-2 form-group">
					<label for="studyEndInput">Studienende</label>
					<input type="text" id="studyEndInput" class="form-control" placeholder="z.B. '2003'">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 form-group">
					<label for="interestsInput">Interessen</label>
					<input type="text" id="interestsInput" class="form-control" placeholder="z.B. 'Fußball'">
				</div>
				<div class="col-sm-4 form-group">
					<label for="streetInput">Anschrift</label>
					<input type="text" id="streetInput" class="form-control" placeholder="z.B. 'Annastr. 4'">
				</div>
				<div class="col-sm-2 form-group">
					<label for="cityInput">Ort</label>
					<input type="text" id="locationInput" class="form-control" placeholder="z.B. 'München'">
				</div>
				<div class="col-sm-2 form-group">
					<label for="postalcodeInput">PLZ</label>
					<input type="text" id="zipInput" class="form-control" placeholder="z.B. '20459'">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 form-group">
					<label for="companyInput">Unternehmen</label>
					<input type="text" id="companyInput" class="form-control" placeholder="z.B. 'Mustermann GmbH'">
				</div>
				<div class="col-sm-4 form-group">
					<label for="sectorInput">Branche</label>
					<input type="text" id="departmentInput" class="form-control" placeholder="z.B. 'Telekommunikation'">
				</div>
				<div class="col-sm-4 form-group">
					<label for="stateInput">Bundesland</label>
					<input type="text" id="stateInput" class="form-control" placeholder="Bundesland">
				</div>
			</div>
		</div>
	</div>
	</form>

	<div class="row search" id="search-course-panel" style="display: none">
		text kommt für die studiengangliste hier :)
	</div>

	<div class="row search center-txt hidden" id="search-spinner">
		<span class="glyphicon glyphicon-refresh loading"></span>
	</div>
	<div class="row search" id="search-result" style="display: none">
		<h3>Ergebnisse &nbsp;&nbsp;&nbsp;
			<small>
				Treffer <span id="search-result-start">{x}</span>
				bis <span id="search-result-end">{y}</span>
				von insgesamt <span id="search-result-length">{x}</span>
				gefundenen Alumni
			</small>
		</h3>
		<hr />
		<div class="search-result-wrapper"></div>
		<div id="search-paginator-wrapper" class="hidden" style="text-align: center"></div>
	</div>
</div>