<div>
	<div class="login-left-side">
		<p>Hallo <b><span id="user-firstname">{Vorname Benutzer}</span></b></p>
		<small>
			<span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span><span id="number-messages">{x}</span> neue Nachricht(en)<br />
			<span class="glyphicon glyphicon-calendar" aria-hidden="true">&nbsp;</span><span id="number-events">{x}</span> Veranstaltung(en) diese Woche<br />
			<span class="glyphicon glyphicon-user" aria-hidden="true">&nbsp;</span><span id="number-friendrequests">{x}</span> neue Freundschaftsanfrage(n)
		</small>
	</div>
	<div class="login-right-side">
		<button type="submit" class="btn btn-sm btn-primary btn-login" id="btn-submit-logout">
			<span class="glyphicon glyphicon-refresh hidden"></span>
			&nbsp;Logout
		</button>
	</div>
</div>