<div class="row">
	<div class="col-md-3">
		<img src="" class="result-image img-thumbnail">
	</div>
	<div class="col-md-9">
		<h4><strong><span class="search-result-firstname">{Vorname}</span> <span class="search-result-lastname">{Nachname}</span></strong><br /></h4>
		<p>
				<span id="birthday-row" style="display: none">geboren am <span class="search-result-birthdate">{Datum}</span> und ist jetzt
				<span class="search-result-age">{Alter}</span> Jahre alt<br /></span>
				<span id="origin-row" style="display:none">stammt aus <span class="search-result-origin">{Heimatort}</span><br /></span>
				lebt derzeit in <span class="search-result-city">{Wohnort}</span><br />
				<span class="search-result-company" style="display: none"></span>
				<span class="search-result-university" style="display: none"></span>
		</p>
		<p>
			<a href="#/user/:id" class="not-implemented">Profil anschauen</a>&nbsp;&nbsp;&nbsp;|
				&nbsp;&nbsp;&nbsp;<a href="#/message/:id" class="not-implemented">Nachricht senden</a>&nbsp;&nbsp;&nbsp;|
				&nbsp;&nbsp;&nbsp;<a href="#/friends/add/:id" class="not-implemented">Als Freund hinzufügen</a>
		</p>
	</div>
</div>