<div class="row" id="userpanel-panel">
	<!-- main conten of user (whatever)-->
	<div class="col-sm-8 blog-main"> 
		<h2>Persönlicher Bereich</h2>
		<hr />
		<p>text text text ipsum bla bla tutorium.</p>
	
	</div> <!-- ./main -->
	
	<!-- Sidebar with user information -->
	<div class="col-sm-4 blog-sidebar">
		<div class="sidebar-module sidebar-module-inset">
			<h3>Ihr Profil</h3>
		</div>
		<div class="sidebar-module sidebar-module-inset">
			<div class="col-md-3" >
				<img src="" id="userImage" class="result-image img-thumbnail">
			</div>
		</div>
		<div class="sidebar-module">
			<h4>Veranstaltungen in Kürze</h4>
			<ol class="list-unstyled">
			  <li><a href="#/forgotpw">Passwort ändern</a></li>
			  <li><a href="#/userpanel">E-Mail-Adresse hinzufügen/ändern</a></li>
			  <li><a href="#/userpanel">Profildaten ergänzen</a></li>
			  <li><a href="#/userpanel">Profilfoto hinzufügen/ändern</a></li>
			</ol>
		</div>
	</div><!-- /.blog-sidebar -->

	
</div>

