<div class="row" id="verifyuser-wrapper">
	<!-- main conten of user (whatever)-->
	<div class="col-sm-12 blog-main">
		<h2>Verifikation deines Alumni-Account</h2>
		<hr />
		<p>Dein Alumni-Account wird soeben aktiviert. Nach erfolgreicher Aktivierung kannst du den vollen Funktionsumfang der Webseite nutzen.<br /></p>

		<div class="row center-txt" id="verify-spinner" style="margin-top: 25px">
			<span class="glyphicon glyphicon-refresh loading glyphicon-refresh-animate"></span>
		</div>

		<div class="alert alert-success hidden" id="verify-success" role="alert">Dein Account auf dem Alumni-Portal wurde erfolgreich aktiviert. Du kannst nun das volle Angebot der Webseite nutzen.</div>
		<div class="alert alert-danger hidden" id="verify-error" role="alert">Leider hat deine Freischaltung nicht geklappt, oder aber du bist bereits freigeschaltet. Versuche es einfach später noch einmal. Ansonsten wende dich bitte kurz an <b>alumni@uni-wuerzburg.de</b>.</div>
	</div><!-- /.blog-main -->
</div><!-- /.row -->