<div class="row" id="verifyuser-wrapper">
	<!-- main conten of user (whatever)-->
	<div class="col-sm-12 blog-main">
		<h2>Verifikation Ihres Alumni-Account</h2>
		<hr />
		<p>Ihr Alumni-Account wird soeben aktiviert. Nach erfolgreicher Aktivierung können Sie den vollen Funktionsumfang der Webseite nutzen.<br /></p>

		<div class="row center-txt" id="verify-spinner" style="margin-top: 25px">
			<span class="glyphicon glyphicon-refresh loading glyphicon-refresh-animate"></span>
		</div>

		<div class="alert alert-success hidden" id="verify-success" role="alert">Ihr Account auf dem Alumni-Portal wurde erfolgreich aktiviert. Sie können nun das volle Angebot der Webseite nutzen.</div>
		<div class="alert alert-danger hidden" id="verify-error" role="alert">Leider hat Ihre Freischaltung nicht geklappt, oder aber Sie sind bereits freigeschaltet. Versuchen Sie es bitte später noch einmal. Ansonsten wenden Sie sich bitte an <b>alumni@uni-wuerzburg.de</b>.</div>
	</div><!-- /.blog-main -->
</div><!-- /.row -->